data/sleep-edf-database-expanded-1.0.0/sleep-cassette/edf/*
data/sleep-edf-database-expanded-1.0.0/sleep-cassette/npz/*
data/sleep-edf-database-expanded-1.0.0/sleep-telemetry/edf/*
data/sleep-edf-database-expanded-1.0.0/sleep-telemetry/npz/*
